* {
  background-color: #2d2c38;
  color: white;
  font-family: "Dosis", sans-serif;
  margin: 0%;
  --green: rgb(25, 245, 170);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

/* header */

/* to toggle nav bar */
.showNav-enter {
  margin-top: 5vh;
  transition: all 1000ms;
}

/* to toggle nav bar */
.hideNav-enter {
  margin-top: -15vh;
  transition: all 1500ms;
}

header {
  background-color: white;
  border-radius: 100px;
  height: 7vh;
  width: 70%;
  margin: auto;
  margin-top: 5vh;
  left: 15%;
  position: fixed;
  display: flex;
  z-index: 10;
  opacity: 0.9;
}

header ul {
  width: 100%;
  padding-left: 0%;
  border-radius: 100px;
  display: flex;
  background-color: transparent;
}

header li {
  list-style: none;
  background-color: transparent;
  color: black;
  margin: auto;
  font-weight: 900;
}

li:hover {
  color: var(--green);
}

/* name */
.myInfo-container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 2vw;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2.4rem;
  /* height: 1000px; */
  /* margin-bottom: 0; */
}

.myInfo-container p {
  margin-top: 1vh;
  color: grey;
  font-size: medium;
}
.myInfo-container div {
  margin: auto;
}
.myInfo-container div.bgImg {
  border: 3px solid white;
  box-sizing: border-box;
  overflow: hidden;
  animation-duration: 8s;
  background-color: white;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: rotate;
}

.myInfo-container img {
  width: 30vw;
}

.myInfo-container span {
  display: inline-block;
}

.myInfo-container span.blast {
  margin: 2px;
  display: inline-block;
  min-width: 10px;
  transition: all 0.4s;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.myInfo-container span.blast:hover {
  top: 15px;
  color: var(--green);
  transform: rotate(-20deg) scale(1.3);
}

@keyframes rotate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* project page */

#projectPage{
  margin: 5% 0 5% 0;
  border-top: 3px solid --green;
  width: 100%;
  overflow: hidden;
}

#projectPage > h1{
  width: fit-content;
  margin: auto;
  margin-bottom: 5%;
}


.projectContainer {
  display: flex;
  height: 100%;
  margin-bottom: 5%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.projectAbout {
  width: 40%;
}

.projectAbout p{
  margin: 10px;
}

.projectAbout .buttons{
  display: flex;
  border-top: 1px solid gray;
}

.btn{
width: 40%;
margin: 10px auto;
font-size: larger;
border: 0;
padding: 4px;
}

button.live{
  background-color: var(--green) ;
  color: #2d2c38;
}
button.github{
  background-color: transparent ;
  color: white;
  border: 2px solid white;
}

.projectImage {
  width: 50%;
}

.projectImage img {
  width: 100%;
}

/* universal */

.green {
  color: rgb(25, 245, 170);
}

a{
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

/* media screen */

@media screen and (max-width: 660px) {
  .myInfo-container {
    font-size: 1.8rem;
  }
  .myInfo-container div {
    margin: auto;
    margin-top: 0;
  }
  .myInfo-container div.bgImg {
    width: 40%;
    margin: auto;
  }
  .myInfo-container img {
    width: 40vw;
  }
}
@media screen and (max-width: 420px) {
  .myInfo-container {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1000px) {
  .projectContainer{
    flex-direction: column;
    margin: 0;
    margin-top: 10vh;
  }
  .projectAbout{
    width: 80%;
  }
  .projectImage {
    width: 80%;
    margin-top: 10px;
  }

}
