* {
  background-color: #2d2c38;
  color: white;
  font-family: "Dosis", sans-serif;
  margin: 0%;
  scroll-behavior: smooth;
  --green: rgb(25, 245, 170);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#top {
  overflow: hidden;
}

.animated-component {
  animation-name: fadesOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fadesOut {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}
/* background */
/* .background{
  margin: auto;
  width: 50%;
  aspect-ratio: 1/1;
  border: 3px solid gray;
  border-radius: 100%;
  z-index: -1;
  background-color: transparent;
  position: absolute;
  top: 5%;
  left: 25%;
} */

/* header */

/* to toggle nav bar */
.showNav-enter {
  margin-top: 5vh;
  transition: all 1000ms;
}

/* to toggle nav bar */
.hideNav-enter {
  margin-top: -15vh;
  transition: all 1500ms;
}

header {
  background-color: white;
  border-radius: 100px;
  height: 7vh;
  width: 70%;
  margin: auto;
  margin-top: 5vh;
  left: 15%;
  position: fixed;
  display: flex;
  z-index: 10;
}
header ul {
  width: 100%;
  padding-left: 0%;
  border-radius: 100px;
  display: flex;
  background-color: transparent;
}

header li {
  list-style: none;
  background-color: transparent;
  color: black;
  margin: auto;
  font-weight: 900;
}

li:hover {
  color: var(--green);
}

/* name */

.myInfo-container {
  display: flex;
  height: fit-content;
  min-height: 100vh;
  justify-content: space-between;
  /* padding: 2vw; */
  align-items: center;
  flex-wrap: wrap;
  font-size: 2.4rem;
  width: 100%;
}

.myInfo-container p {
  margin-top: 1vh;
  color: grey;
  font-size: medium;
}
.myInfo-container div {
  margin: auto;
}
.myInfo-container div.bgImg {
  border: 3px solid white;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: rotate;
}

.myInfo-container img {
  width: 30vw;
}

.myInfo-container span {
  display: inline-block;
  margin-right: 20px;
}

.myInfo-container span.blast {
  font-family: "Braah One", sans-serif;
  text-transform: uppercase;
  margin: 0px;
  display: inline-block;
  min-width: 10px;
  transition: all 0.4s;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(85, 87, 78, 0.4),
    1px 22px 10px rgba(72, 72, 72, 0.2), 1px 25px 35px rgba(72, 72, 72, 0.2),
    1px 30px 60px rgba(72, 72, 72, 0.4);
}

.rubber {
  animation: rubberBand linear 1s;
}

.blast:hover {
  color: var(--green);
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rotate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* About page */

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage {
  height: 100vh;
  width: 100%;
  border-top: 2px solid var(--green);
}

.scoreBoard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding:0 5% 0 5%; */
  height: 80%;
}

.aboutText {
  z-index: 8;
  width: 85%;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
}

.aboutText p {
  /* background-color: white; */
  /* background-color: transparent; */
  font-weight: 900;
  font-size: 1.2rem;
}

.aboutTools {
  /* border : 2px solid var(--green); */
  width: 99%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bubble {
  width: max-content;
  width: intrinsic; /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  aspect-ratio: 1/1;
  min-height: 30px;
  min-width: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100%;
  padding: 20px;
  position: absolute;
  transition: all 1s;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 18px #fff, inset 6px 0 18px violet,
    inset -6px 0 18px #0ff, inset 6px 0 30px violet, inset -6px 0 30px #0ff,
    0 0 18px #fff, -4px 0 18px violet, 4px 0 18px #0ff;
}

.bubble p {
  background: transparent;
  /* animation: 5s anim-lineUp ease-in infinite; */
}

.bubbleMove {
  --xA: -100%;
  --yA: -500%;
  --xB: -300%;
  --yB: -200%;
  animation-name: moveBubble;
  animation-iteration-count: 1;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  /* animation-direction: normal; */
  /* animation-fill-mode: none; */
  animation-play-state: running;
}

@keyframes moveBubble {
  0% {
    transform: translate3d(var(--xA), var(--yA), 0);
  }
  100% {
    transform: translate3d(var(--xB), var(--yB), 0);
  }
}

.bubble:hover {
  color: var(--green);
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  box-shadow: inset 0 0 18px var(--green), inset 6px 0 18px var(--green),
    inset -6px 0 18px var(--green), inset 6px 0 30px var(--green),
    inset -6px 0 30px var(--green), 0 0 18px #fff, -4px 0 18px var(--green),
    4px 0 18px var(--green);
}

/* project page */

#projectPage {
  margin: 5% 0 5% 0;
  border-top: 3px solid var(--green);
  width: 100%;
  overflow: hidden;
}

.heading {
  width: fit-content;
  margin: 5% auto;
}

.projectContainer {
  display: flex;
  height: 100%;
  margin-bottom: 5%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.projectAbout {
  width: 40%;
}

.projectAbout p {
  margin: 10px;
}

.projectAbout .buttons {
  display: flex;
  border-top: 1px solid gray;
}

.projectAbout a {
  width: 40%;
  margin: 10px auto;
  border: 0;
}

.projectAbout .btn {
  font-size: larger;
  font-weight: 900;
  padding: 7px;
  width: 100%;
}

button.live {
  background-color: var(--green);
  color: white !important;
}

button.live:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

button.github {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

button.github:hover {
  background-color: transparent;
  color: var(--green);
  border: 2px solid var(--green);
}

.projectImage {
  width: 50%;
}

.projectImage img {
  width: 100%;
}
.projectImage iframe {
  width: 100%;
  min-height: 50vh;
}

/* contact me */
.contactPage {
  border-top: 3px solid var(--green);
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1vh;
}

.moonAnimationDiv {
  height: 50vh;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon {
  position: relative;
  /* top: 100%; */
  animation: rotation 24s linear infinite alternate;
  background: #f6edbd;
  box-shadow: 0 0 5rem 0.75rem #f6edbd, 0 0 3rem 0.75rem #ece1a8 inset;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.moon:hover {
  animation-play-state: paused;
}

.crater--0 {
  position: absolute;
  background: #ece1a8;
}

.crater--1 {
  position: absolute;
  background: #ece1a8;
}

.crater--2 {
  position: absolute;
  background: #ece1a8;
}

.crater--3 {
  position: absolute;
  background: #ece1a8;
}

.crater--4 {
  position: absolute;
  background: #ece1a8;
}

.crater--5 {
  position: absolute;
  background: #ece1a8;
}

.crater--6 {
  position: absolute;
  background: #ece1a8;
}

.crater--7 {
  position: absolute;
  background: #ece1a8;
}

.crater--0 {
  top: 1.2rem;
  left: 1.4rem;
  border-radius: 42%;
  transform: rotate(-30deg);
  height: 1.1rem;
  width: 3rem;
}
.crater--1 {
  top: 1.6rem;
  left: 1.4rem;
  background: #f6edbd;
  border-radius: 42%;
  box-shadow: inset -2px 4px 4px 0px #ece1a8;
  transform: rotate(-40deg);
  height: 1.1rem;
  width: 3.7rem;
}
.crater--2 {
  top: 2rem;
  left: 3.2rem;
  border-radius: 48%;
  box-shadow: 0 2px 4px 0px #ece1a8;
  height: 1.9rem;
  width: 2.1rem;
}
.crater--3 {
  top: 1rem;
  left: 4.3rem;
  border-radius: 48%;
  box-shadow: 0 -2px 4px 0px #ece1a8;
  height: 1.6rem;
  width: 2.4rem;
}
.crater--4 {
  top: 5rem;
  left: 0.8rem;
  border-radius: 48%;
  height: 3.6rem;
  width: 5.1rem;
}
.crater--5 {
  top: 5rem;
  left: 0.7rem;
  background: #f6edbd;
  box-shadow: inset 0 -5px 8px 0px #ece1a8;
  border-radius: 38%;
  transform: rotate(15deg);
  height: 3rem;
  width: 6.4rem;
}
.crater--6 {
  top: 4rem;
  left: 1rem;
  background: #f6edbd;
  border-radius: 42%;
  height: 3rem;
  width: 3rem;
}
.crater--7 {
  top: 4rem;
  left: 1rem;
  border-radius: 42%;
  box-shadow: 4px 3px 6px 3px #ece1a8;
  height: 3rem;
  width: 3.2rem;
}

@keyframes rotation {
  0% {
    transform: rotate(-10deg) translateX(-40rem) rotate(0deg);
  }
  100% {
    transform: rotate(10deg) translateX(40rem) rotate(360deg);
  }
}

.meteor {
  position: absolute;
  width: 10rem;
  height: 1px;
  transform: rotate(-45deg);
  opacity: 0.1;
  background-image: linear-gradient(
    to right,
    rgb(114, 80, 148),
    rgba(255, 255, 255, 0)
  );
  animation: meteor 7s ease-out infinite;
}

.yellowMeteor {
  background-image: linear-gradient(to right, #f6edbd, rgba(255, 255, 255, 0));
}
.meteor:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.contactPage > div.contentBox {
  z-index: 1;
  background-color: transparent;
}

.contentBox img,
h1 {
  background-color: transparent;
}

.contactContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}

.contactPage a {
  border: 3px solid white;
  background-color: var(--green);
  color: white;
  font-weight: 900;
  width: 28%;
  aspect-ratio: 4/1;
  padding: 10px;
  transition: all 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactPage a:hover {
  scale: 1.02;
  box-shadow: 0 1px 13px 0 var(--green);
}
.contactContainer div {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactPage button {
  background: transparent;
  border: 0px;
  font-weight: 900;
  font-size: larger;
}

/* sky */
.skyDiv {
  position: absolute;
  width: 99%;
  height: 100vh;
  overflow: hidden;
}

.sky {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.star {
  background-color: transparent;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  animation: 3s shining 3.1s infinite;
}

.yellowStar {
  background-color: #f6edbd;
}
.whiteStar {
  background-color: #fff;
}
@keyframes shining {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* cloud and rain */

.cloudContainer {
  position: relative;
  top: -5rem;
  background-color: transparent;
  cursor: pointer;
}

#cloud {
  width: 10rem;
  height: 3rem;
  background: #f2f9fe;
  position: relative;
  margin: 120px auto 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-animation: mover 3.5s infinite alternate;
  animation: mover 6s infinite alternate;
}

.tooltip {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: black;
  padding: 0px;
  /* border-radius: 4px; */
  font-size: 1rem;
  font-weight: bolder;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 5; /* Ensure tooltip appears above other elements */
}

.tooltip:hover {
  color: var(--green);
  opacity: 1;
}

.tooltip.show {
  opacity: 1;
}

#cloud:after,
div#cloud:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
}

#cloud:after {
  width: 3rem;
  height: 3rem;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: -25px;
  left: 25px;
}

#cloud:before {
  width: 5.5rem;
  height: 5.5rem;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: -45px;
  right: 25px;
}

.shadow {
  width: 10rem;
  position: absolute;
  bottom: -80px;
  background: black;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 1);
}

.rain {
  position: absolute;
  height: 80%;
  width: 100%;
  color: black;
  background: transparent;
}

.drop {
  position: absolute;
  background: white;
  opacity: 2;
  height: 100px;
  top: 25px;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 100%;
  animation: fall 3s linear 0.69s infinite;
}

@keyframes fall {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 100px;
  }
}

@keyframes mover {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* universal */
svg {
  border-radius: 10px;
  background-color: var(--green);
}

.green {
  color: rgb(25, 245, 170) !important;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

/* media screen */

@media screen and (max-width: 700px) {
  .myInfo-container span {
    font-size: smaller;
  }
  .bubble {
    min-height: 20px;
    min-width: 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 660px) {
  .myInfo-container {
    font-size: 1.8rem;
  }
  .myInfo-container div {
    margin: auto;
    margin-top: 0;
  }
  .myInfo-container div.bgImg {
    width: 40%;
    margin: auto;
  }
  .myInfo-container img {
    width: 40vw;
  }
}
@media screen and (max-width: 420px) {
  .myInfo-container {
    font-size: 1.4rem;
  }
  header {
    width: 100%;
    left: 0%;
  }
}
@media screen and (max-width: 1000px) {
  .projectContainer {
    flex-direction: column;
    margin: 0;
    margin-top: 10vh;
  }
  .projectAbout {
    width: 80%;
  }
  .projectImage {
    width: 80%;
    margin-top: 10px;
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .contactPage a {
    font-size: 1.3rem;
    width: 70%;
    margin-top: 5%;
  }
}
